<div class="panel panel-default">
<p id="notice"><%= notice %></p>
  <div class="panel-heading">
    <h1>Pins</h1>
  </div>
  <div class="panel-body">
    <table >
    <thead>
      <tr>
        <th>Image</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pins.each do |pin| %>
        <tr>
          <%= pin.user.name if pin.user %><br/>
          <%= link_to image_tag(pin.image.url(:medium)), pin %><br/>
          <%= pin.description %><br/>
            <br/>
          <% if pin.user == current_user %>
            <%= link_to 'Edit', edit_pin_path(pin) %> ||
            <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  
<div class="panel-footer">
  <%= link_to 'New Pin', new_pin_path %>
</div>
</div>
